@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Arima:wght@300;500;700&family=Bellefair&family=Dancing+Script:wght@400;700&family=Montserrat:wght@400;700&display=swap');
.App {
    font-family: 'Dancing Script', cursive;
    font-size: larger;
    max-height: 100vh;
    max-width: 100vw;
}

html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

.Home{
    position: fixed;
    top: 0;
    background-image: url("images/jk1.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.Gallery{
    position: fixed;
    top: 0;
    background-image: url("images/jk2.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.Location{
    position: fixed;
    top: 0;
    background-image: url("images/jk3.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.RSVP{
    position: fixed;
    top: 0;
    background-image: url("images/jk4.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}


.desktop-navbar {
    /* background-color: rgba(80, 73, 62, 0.646); */
    padding-top: 15px;
}

.desktop-navbar-tab-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.desktop-tab {
    background-color: rgba(194, 190, 180, 0.651);
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size:larger;
}

.desktop-tab:hover {
    background-color: rgba(255, 225, 144, 0.594);
    
}

.active-desktop-tab {
    background-color: rgba(250, 219, 133, 0.582) !important;
}

a {
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-weight: bold;
    width: 12em;
    padding-top: 5px;
    padding-bottom: 10px;
    display: block;
}

hr {
    margin-top: 0;
}

.flex {
    display: flex;
    flex-direction: row;
}

.desktop-header {
    /* background-color: rgba(80, 73, 62, 0.646); */
    background-color: rgba(245, 245, 245, 0.76);
}

.desktop-logo img {
    position:fixed;
    -webkit-filter:invert(100%);
    height: 150px;
    width: 150px;
    bottom: 10px;
    right: 10px;
}

.mobile-logo {
    height: 100px;
}

.mobile-logo img{
    background-color: rgba(202, 202, 202, 0.979);
    -webkit-filter:invert(100%);
    height: 100px;
    width: 100px;
}

.mobile-navbar {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mobile-link {
    width: 100%;
    text-align: center;
}

.mobile-tab {
    /* background-color: rgba(194, 190, 180, 0.925); */
    font-size: 1.4em;
    background-color: rgba(241, 240, 237, 0.925);
    box-sizing: border-box;
    border: 1px inset gray;
}

.mobile-tab:hover {
    background-color: rgba(255, 225, 144, 0.897);
    
}

.active-mobile-tab {
    background-color: rgba(250, 219, 133, 0.966) !important;
}


.header-section {
    margin-top: 0px;
    margin-bottom: 0px;
}


.content-container {
    max-width: 50%;
    min-width: 340px;
    height: 70vh;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(20, 20, 20, 0.53);
    /* background-color: rgba(210, 210, 210, 0.53); */
    border-radius: 15px;
    margin-top: 50px;
    padding: 15px 40px;
    color:whitesmoke;
}

.hide {
    display: none;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 1rem;
    justify-content: space-between;
    padding: 0 15px 0 0;
    margin: 0 -5px;
    overflow-y: auto;
    height: auto;
    max-height: 60vh;
    overflow-x: hidden;
}

/* .img-grid::after {
    content: "";
    flex: auto;
} */

.img-item {
    width: 150px;
    height: 180px;
    margin: 0 5px;
}

.img-box {
    cursor: pointer;
    height: 150px;
    filter: drop-shadow(5px 5px 5px black);
    border: 1px rgb(112, 112, 112);
    border-style: groove;
}

.img-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.like-img {
    cursor: pointer;
    height: 25px;
    padding-top: 5px;
}
.comment-img {
    cursor: pointer;
    height: 25px;
    padding-top: 5px;
}

.img-icons {
    display: flex;
    justify-content: space-between;
}
.img-icons i {
    cursor: default;
}

.upload-btn {
    cursor: pointer;
    border: 2px rgb(185, 185, 185) outset;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px black);
    text-decoration: none;
    background-color: rgba(247, 222, 155, 0.712);
    padding: 15px 20px;
    margin-bottom: 1em;
    font-size:larger;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color: white;
}

.splash-guard {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(92, 92, 92, 0.429);
}

.img-proj-content {
    position: relative;
    width: fit-content;
    height: fit-content;
    max-width: 90vw;
    margin: 10vh auto;
}


.open-img img {
    height: auto;
    max-height: 80vh;
    width: auto;
    max-width: 90vw;
}

.open-img {
    display: inline-block;
}

.clickable-areas {
    position: relative;
}

.clickable-area {
    top: 0;
    position: absolute;
    width: 50%;
    height: auto;
}


.comments-section {
    display: inline-block;
}

.init-rsvp-section {
    display: block;
    width: fit-content;
    margin: auto;
}

.init-rsvp-input-section {
    width: fit-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.init-rsvp-name {
    box-sizing: border-box;
    height: 40px;
    margin-right: 5px;
}

.init-rsvp-enter {
    height: 40px;
}

.close-btn {
    display: inline-block;
    position: absolute;
    top: -25px;
    right: -25px;
    cursor: pointer;
    background-color: white;
    border-radius: 25px;
    width: 50px;
}

.guest-rsvps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    text-align: center;
}

.guest-rsvp {
    margin-top: 25px;
    background-color: rgba(165, 165, 165, 0.514);
    padding: 8px;
    border-radius: 25px;
}

.guest-rsvp-field {
    margin: 10px 0;
}

.guest-rsvp-field label {
    margin-right: 7px;
}

.guest-rsvp-field h3 {
    margin: 5px;
}
.guest-rsvp-field-plusone-input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    box-sizing: border-box;
}

.radio-btn-label {
    margin-right: 0 !important;
}

.name-textbox {
    
}

.add-space {
    margin-right: 1em;
}

.thx-rsvp {
    margin: auto;
}

.thx-rsvp-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.err-content {
    position: relative;
    width: fit-content;
    height: fit-content;
    max-width: 90vw;
    margin: 10vh auto;
    background-color: white;
    padding: 1em 3em;
}
.err-content h3 {
    font-size: x-large;
    color: rgb(255, 1, 1);
}

.home-page {
    text-align: center;
}

.headline {
    display:flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.headline-item {
    display: inline-block;
    width: 250px;
}
span.headline-item  {
    border: 2px outset whitesmoke;
    height: 120px;
}
h2.headline-item {
    font-family: 'Bellefair', cursive;
    font-weight: lighter;
    font-size: 6em;
}
.headline-item-and {
    /* font-family: 'Arima', cursive !important; */
    font-family: 'Dancing Script', cursive !important;
}

.headline-mobile {
    display:flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}
.headline-item-mobile {
    display: inline-block;
    height: 0px;
}
h2.headline-item-mobile {
    font-family: 'Bellefair', cursive;
    font-weight: lighter;
    font-size: 3em;
}
.headline-item-and-mobile {
    /* font-family: 'Arima', cursive !important; */
    font-family: 'Dancing Script', cursive !important;
}

.tagline {
    font-size: 2.5em;
    position: relative;
    top: 50px;
}
.tagline-mobile {
    font-size: 2em;
    position: relative;
    top: 20px;
}

.home-date {
    font-size: 3em;
}
.home-date-mobile {
    position: relative;
    font-size: 2em;
    top: 1em;
}

.home-location {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}
.home-location-mobile {
    margin-top: 4.5em;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}
.home-location-name {
    font-weight: bolder;
    font-size: 1.2em;
}
.home-location-city {

}
.straight-font {
    font-family: 'Bellefair', cursive;
}
.curvy-font {
    font-family: 'Dancing Script', cursive;
}